.hlink mark {
  background-color: white;
  padding-left: 0;
}

.hlink mark:hover {
  background-color: #a7a3a3 !important;
  transition: 0.2s;
}

.hlink span {
  transition: 0.2s;
}

.hlink mark:hover span {
  margin-left: 3px;
}
