.link {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.UofTLogo {
  padding-right: 15px;
}

.ACELogo {
  height: 50px;
  padding-left: 15px;
}

.pipe {
  border-left: 1px solid white;
}

.link * {
  height: 40px;
}

@media (min-width: 768px) {
  .link * {
    height: 50px;
  }
}
