.link {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.UofTLogo {
  height: 60px;
  padding-right: 15px;
}

.ACELogo {
  height: 50px;
  padding-left: 15px;
}

.pipe {
  height: 60px;
  border-left: 1px solid white;
}
