.navItem a {
  display: block;
  color: #bccbde;
  background-color: #002A5C;
  padding: 15px 0;
}

.navItem a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navItem a {
    padding: 0 25px;
  }
}
