:global a:link {
  text-decoration: none;
}

:global a:visited {
  text-decoration: none;
  color: white;
}

:global a:hover {
  text-decoration: none;
}

:global a:active {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: #002A5C;
}

section {
  margin-bottom: 50px;
}

:global .body {
  padding: 0 40px;
}

@media (min-width: 768px) {
  :global .body {
    min-height: calc(100vh - 300px);
  }
}

:global @media (min-width: 1017px) {
  :global .body {
    min-height: calc(100vh - 230px);
  }
}
