:global a:link {
  text-decoration: none;
}

:global a:visited {
  text-decoration: none;
}

:global a:hover {
  text-decoration: none;
}

:global a:active {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0;
}

.footer {
  width: 100vw;
  background-color: #002A5C;
  z-index: 19;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 25px 0;
  }
  .body {
    min-height: calc(100vh - 220px);
  }
}

@media (min-width: 1017px) {
  .body {
    min-height: calc(100vh - 150px);
  }
}
