:global a:link {
  text-decoration: none;
}

:global a:visited {
  text-decoration: none;
  color: white;
}

:global a:hover {
  text-decoration: none;
}

:global a:active {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0;
  color: #535353;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: #002A5C;
}

section {
  margin-bottom: 30px;
}

:global .body {
  padding: 0 10px;
}

@media (min-width: 768px) {
  :global .body {
    padding: 0 30px;
    min-height: calc(100vh - 300px);
  }
}

:global @media (min-width: 1017px) {
  :global .body {
    padding: 0 60px;
    min-height: calc(100vh - 230px);
  }
}
